.headerbuttons{
    color: rgb(40, 40, 40);
    text-decoration: none;
    font-size: 12px;
    border: none;
    background: none;
    font-weight: 10;
    font-family: 'Poppins', sans-serif;
  }
  
  
  
  .headerbuttons::after,.headerbuttons::before {
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    display: block;
    
  }
  .msicon{
    height: 25px;
    width:auto;
    margin: 10px;
  }
  
  .headerbuttons:hover::after{
    width: 100%;
  }
  .input {
    color: rgb(255, 255, 255);
    font: 1em/1.5 Hind, sans-serif;
  }
  
 
  .header{
    display: flex;
    flex-wrap: wrap;
  }

  
  #text{
    text-align: left;
    position: relative;
    top: -350px;
    right: -120px;
  }
   #texts{
    text-align:right;
    position: relative;
    top: -350px;
    right: 120px;
  }
   .img{
    width: 100%;
    height: auto;
   }
  .oneperson{
    color: white;
    background-color: rgb(0, 106, 255);
  }
  h2{
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h3{
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  }
  p{
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(33, 40, 44);
    font-weight: bold

  }
  
  
  .turn{
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(33, 40, 44);
    font-weight: bold;

  }
  .sticky{
    margin-left: 88%;
    right: 0;
    font-size: 17px;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: bold;
    background-color: rgb(177, 177, 177);
    margin-bottom: 3%;
  }
  .one{
    color: white;
    background-color: rgb(0, 106, 255);
    padding: 3px;
    width: 136px;
    height: 40px;
    border: none;
    font-size:16px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .six{
    color: #000000;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
padding-left: px;
}
.icons{
    display: flex;
    text-align:center ;
    padding-left: 250px;
    padding-right: 250px;
  
}

.ficon{
    padding-right: 60px;
}
.carda,.cardb,.cardc,.cardd{
    width: 280px;
    height: 370px;
    background: rgb(255, 255, 255);
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    margin-left: 2%;
   
   }
   .cardlink{
    color: #001cbe;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

   }

.rowcards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-top: 8%;
}
.rowcard{
  display: flex;
  flex-wrap: wrap;
  margin-left: 4%;
  
}

.cardimg{
    width: 100%;
    height: auto;
}
#aa{
  text-align:right;
  position: relative;
  top: -350px;
  right: 200px;
}


#for{
  
  margin-top: -90px;
  padding-left: 6%;
}
.xboxb{
  color: white;
  background-color: rgb(0, 106, 255);
  padding: 3px;
  width: 172px;
  height: 40px;
  border: none;
  font-size:16px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.more{
  font-size: 18px;
  color: white;
  background-color: #001cbe;
  border: none;
  width: 120px;
  height: 40px;
}
.follow{
  font-size: 19px;
  font-family:sans-serif;
  font-weight: 400;
  padding-left: 6%;
}

.links{
  display: flex;
  flex-wrap: wrap;
  padding-left: 6%;
  width: 100%;
  height: 60%;
}
.aa{
  font-size: 16px;
  font-weight: 650px;
  font-family:sans-serif;
  
}
footer{
  
  background-color: rgb(236, 236, 236);
}
.bb{
  color: #282828;
  font-size: 11px;
  font-family:sans-serif;
 
}
.link{
padding-right: 6%;
}
.last{
  display: flex;
padding-left: 6%;
}
.l{
  width: 17px;
  height: auto;
}
.la{
  color: black;
  font-size: 11px;
  font-family:sans-serif;
}
.foot{
  color: black;
  font-size: 11px;
  font-family:sans-serif;
  padding-left: 4%;
}
.lang{
  padding-left: 30%;
}

footer{
  width: 100%;
}
header{
  width: 100%;
}
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}





/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}

/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}

/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}

/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */


   .CSSgal{
    color: #fff;	
    text-align: center;
  }
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}