<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    

    <link rel="stylesheet" href='/src/app/team/team.component.css' />
</head>

<body>


    <div class="header">
        <div class="container">
            <a href=""><img class="msicon"
                    src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
                    alt=""></a>

            <button class="headerbuttons" style="font-weight: bolder;">Teams</button>
            <a href=""><button class="headerbuttons">Products</button></a>
            <a href=""><button class="headerbuttons">Solutions</button></a>
            <a href=""><button class="headerbuttons">Pricing</button></a>
            <a href=""><button class="headerbuttons">Resources</button></a>
            <a href=""><button class="headerbuttons">More Microsoft 365 </button></a>


            <a href="">Download Teams</a>
            <a href='signin'><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg></a>
        </div>
    </div>

    <div class="dis">
        <p>Microsoft Teams is now faster and simpler than ever.
            <a class="btn-content" href="#">
                <span class="btn-title">Discover what's possible</span>
                <span class="icon-arrow">
                    <svg width="18px" height="18px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">

                        <path id="arrow-icon-one"
                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                            fill="#FFFFFF"></path>

                        
                    </svg>
                </span>
            </a>
        </p>
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

            <div class="get">
                <h3>Get more done with Microsoft Teams</h3>
                <p style="font-size: 18px;font-weight:bold">Your modern workplace at home, in the office, and on the go
                </p>
                <p>Now redesigned to be faster and simpler, Teams intelligently connects you with the people and
                    information you need to more efficiently collaborate.</p>
                <button class="one">Sign up for free</button>
                <button class="two">See plans and pricing</button>
            </div>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="video">
                <iframe width="770" height="440" src="https://www.youtube.com/embed/1BLiwgyLH0A"
                    title="Welcome to the New Era of Microsoft Teams" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <h3>More is possible with Microsoft Teams</h3>
            <p>Stay connected and access shared content any time to learn, plan, and innovate—together.</p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="cards">
                <div class="card1">
                </div>
                <div class="card2">
                </div>
                <div class="card3">
                </div>
                <div class="card4">
                </div>
            </div>
        </div>
    </div>


    <div class="img">
        <div class="col-xs-12">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Meet1:VP4-1399x600?resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=100"
                alt="error">
            <div id="button">
                <button class="ctas">
                    <span>Meet</span>
                </button><br>
                <button class="cta">
                    <span>Call</span>
                </button><br>
                <button class="cta">
                    <span>Collaborate</span>
                </button><br>
                <button class="cta">
                    <span>Chat</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2>Meet</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>Share your screen, change or blur your background, and use together mode to virtually be in the same
                space.</p>

            <a class="btn-content" href="#">
                <span class="btn-title" style="color:rgb(0, 110, 255)">Learn more</span>
                <span class="icon-arrow">
                    <svg width="18px" height="18px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">

                        <path id="arrow-icon-one"
                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                            fill="#FFFFFF"></path>

                        
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="img">
        <div class="col-xs-12">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/call1:VP4-1399x600?resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=100&fit=crop"
                alt="error">
            <div id="button">
                <button class="cta">
                    <span>Meet</span>
                </button><br>
                <button class="ctas">
                    <span>Call</span>
                </button><br>
                <button class="cta">
                    <span>Collaborate</span>
                </button><br>
                <button class="cta">
                    <span>Chat</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2>Call</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>Make and receive calls directly in Teams with advanced features like group calling, voicemail, and call
                transfers.</p>

            <a class="btn-content" href="#">
                <span class="btn-title" style="color:rgb(0, 110, 255)">Learn more</span>
                <span class="icon-arrow">
                    <svg width="18px" height="18px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">

                        <path id="arrow-icon-one"
                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                            fill="#FFFFFF"></path>

                        
                    </svg>
                </span>
            </a>
        </div>
    </div>

    <div class="img">
        <div class="col-xs-12">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/collaborate1:VP4-1399x600?resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=100"
                alt="error">
            <div id="button">
                <button class="cta">
                    <span>Meet</span>
                </button><br>
                <button class="cta">
                    <span>Call</span>
                </button><br>
                <button class="ctas">
                    <span>Collaborate</span>
                </button><br>
                <button class="cta">
                    <span>Chat</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2>Collaborate</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>Easily find, share, and edit files together in real time with apps like Word, PowerPoint, and Excel.</p>

            <a class="btn-content" href="#">
                <span class="btn-title" style="color:rgb(0, 110, 255)">Learn more</span>
                <span class="icon-arrow">
                    <svg width="18px" height="18px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">

                        <path id="arrow-icon-one"
                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                            fill="#FFFFFF"></path>

                        
                    </svg>
                </span>
            </a>
        </div>
    </div>

    <div class="img">
        <div class="col-xs-12">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/chat1:VP4-1399x600?resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=85"
                alt="error">
            <div id="button">
                <button class="cta">
                    <span>Meet</span>
                </button><br>
                <button class="cta">
                    <span>Call</span>
                </button><br>
                <button class="cta">
                    <span>Collaborate</span>
                </button><br>
                <button class="ctas">
                    <span>Chat</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2>Chat</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>Share your thoughts and your personality. Send GIFs, stickers, and emojis in one-to-one or group chats.
            </p>

            <a class="btn-content" href="#">
                <span class="btn-title" style="color:rgb(0, 110, 255)">Learn more</span>
                <span class="icon-arrow">
                    <svg width="18px" height="18px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">

                        <path id="arrow-icon-one"
                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                            fill="#FFFFFF"></path>

                        
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <h2>See how companies are using Microsoft Teams</h2>
    <div class="rowcards">
        <div class="carda">

            <h3>L’Oréal gives hybrid work a makeover with Microsoft 365 and Microsoft Teams</h3>
            <p>”In this new world, L’Oréal is focused on facilitating collaboration, communication, and co-creation among our employees, which is why we use Microsoft 365 and Microsoft Teams.”</p>
            <p>Etienne Bertin: Chief Information Officer, L’Oréal</p>
           <a class="btn-content" href="#">
                <span class="btn-title" style="color:rgb(0, 110, 255)">Read the story</span>
                <span class="icon-arrow">
                    <svg width="18px" height="18px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">

                        <path id="arrow-icon-one"
                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                            fill="#FFFFFF"></path>

                        
                    </svg>
                </span>
            </a><br>
            <img class="cardimg"
                src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade008_CS_L%E2%80%99Or%C3%A9al_788x569_2x_v1?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fit=constrain"
                alt="">
        </div>
        <div class="carda">

            <h3>U.S. Bank invests in culture building tools for a hybrid world with Microsoft 365</h3>
            <p>“With Microsoft 365, we’re offering employees a great suite of tools and enabling more freedom and flexibility in terms of how and where they work.“</p>
            <p>Zephanie Hardy: Senior Vice President of Employee Technology Experience, U.S. Bank</p>
           <a class="btn-content" href="#">
                <span class="btn-title" style="color:rgb(0, 110, 255)">Read the story</span>
                <span class="icon-arrow">
                    <svg width="18px" height="18px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">

                        <path id="arrow-icon-one"
                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                            fill="#FFFFFF"></path>

                        
                    </svg>
                </span>
            </a><br>
            <img class="cardimg"
                src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade008_CS_US%20Bank_788x569_2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fit=constrain"
                alt="">
        </div>
    </div>




 <footer>

        <div class="links">
            <div class="link">
                <label class="aa">What's new</label><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft 365</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Games</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Surface Pro 9</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Surface Laptop 5</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Surface Laptop Studio</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Surface Laptop Go 2</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Windows 11 apps</a>
            </div>
            <div class="link">
                <label class="aa">Microsoft Store</label><br><br>
                <a href="" style="text-decoration: none;" class="bb">Account profile</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Download Center</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Store Support</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Returns</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Order tracking</a>

            </div>
            <div class="link">
                <label class="aa">Eduction</label><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft in education</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Devices for education</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Teams for Education</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft 365 Education</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Office Education</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Educator training and
                    development</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Deals for students and parents</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Azure for students</a>
            </div>
            <div class="link">
                <label class="aa">Business</label><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Cloud</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Security</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Azure</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Dynamics 365</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft 365</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Advertising</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Industry</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Teams</a>
            </div>
            <div class="link">
                <label class="aa">Developer & IT</label><br><br>
                <a href="" style="text-decoration: none;" class="bb">Developer Center</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Documentation</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Learn</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Tech Community</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Azure Marketplace</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">AppSource</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Microsoft Power Platform</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Visual Studio</a>
            </div>
            <div class="link">
                <label class="aa">Company </label><br><br>
                <a href="" style="text-decoration: none;" class="bb">Careers</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">About Microsoft</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Company news</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Privacy at Microsoft</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Investors</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Security</a><br><br>
                <a href="" style="text-decoration: none;" class="bb">Sustainability</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="last">
                    <div class="lan">
                        <svg class="l" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-globe-asia-australia" viewBox="0 0 16 16">
                            <path
                                d="m10.495 6.92 1.278-.619a.483.483 0 0 0 .126-.782c-.252-.244-.682-.139-.932.107-.23.226-.513.373-.816.53l-.102.054c-.338.178-.264.626.1.736a.476.476 0 0 0 .346-.027ZM7.741 9.808V9.78a.413.413 0 1 1 .783.183l-.22.443a.602.602 0 0 1-.12.167l-.193.185a.36.36 0 1 1-.5-.516l.112-.108a.453.453 0 0 0 .138-.326ZM5.672 12.5l.482.233A.386.386 0 1 0 6.32 12h-.416a.702.702 0 0 1-.419-.139l-.277-.206a.302.302 0 1 0-.298.52l.761.325Z" />
                            <path
                                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1.612 10.867l.756-1.288a1 1 0 0 1 1.545-.225l1.074 1.005a.986.986 0 0 0 1.36-.011l.038-.037a.882.882 0 0 0 .26-.755c-.075-.548.37-1.033.92-1.099.728-.086 1.587-.324 1.728-.957.086-.386-.114-.83-.361-1.2-.207-.312 0-.8.374-.8.123 0 .24-.055.318-.15l.393-.474c.196-.237.491-.368.797-.403.554-.064 1.407-.277 1.583-.973.098-.391-.192-.634-.484-.88-.254-.212-.51-.426-.515-.741a6.998 6.998 0 0 1 3.425 7.692 1.015 1.015 0 0 0-.087-.063l-.316-.204a1 1 0 0 0-.977-.06l-.169.082a1 1 0 0 1-.741.051l-1.021-.329A1 1 0 0 0 11.205 9h-.165a1 1 0 0 0-.945.674l-.172.499a1 1 0 0 1-.404.514l-.802.518a1 1 0 0 0-.458.84v.455a1 1 0 0 0 1 1h.257a1 1 0 0 1 .542.16l.762.49a.998.998 0 0 0 .283.126 7.001 7.001 0 0 1-9.49-3.409Z" />
                        </svg>
                        <a class="la" href="" style="text-decoration: none;">English (India)</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="lang">
                        <a class="foot" href="" style="text-decoration: none;">Contact Microsoft</a>
                        <a class="foot" href="" style="text-decoration: none;">Privacy</a>
                        <a class="foot" href="" style="text-decoration: none;">Terms of use</a>
                        <a class="foot" href="" style="text-decoration: none;">Trademarks</a>
                        <a class="foot" href="" style="text-decoration: none;">About our ads</a>
                        <label class="foot">© Microsoft 2023</label>
                    </div>
                </div>
            </div>
        </div>

    </footer>

  
</body>

</html>
